<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">Publications</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container" style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
			
			{{ content }}
			
			</div><!-- /.container -->

			<!--
			<footer>
	    		<ul>
	        		<li><a href="mailto:lingeng_foo@mymail.sutd.edu.sg">email</a></li>
	        		<li><a href="https://github.com/lingengfoo">github.com/lingengfoo</a></li>
				</ul>
			</footer>
			-->
			
		</body>
	</html>
